<%= form_for(tokimon) do |f| %>
  <% if tokimon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tokimon.errors.count, "error") %> prohibited this tokimon from being saved:</h2>

      <ul>
      <% tokimon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :defense %>
    <%= f.text_field :defense %>
  </div>

  <div class="field">
    <%= f.label :health %>
    <%= f.text_field :health %>
  </div>

  <div class="field">
    <%= f.label :fly %>
    <%= f.text_field :fly %>
  </div>

  <div class="field">
    <%= f.label :fight %>
    <%= f.text_field :fight %>
  </div>

  <div class="field">
    <%= f.label :fire %>
    <%= f.text_field :fire %>
  </div>

  <div class="field">
    <%= f.label :water %>
    <%= f.text_field :water %>
  </div>

  <div class="field">
    <%= f.label :electric %>
    <%= f.text_field :electric %>
  </div>

  <div class="field">
    <%= f.label :ice %>
    <%= f.text_field :ice %>
  </div>

  <div class="field">
    <%= f.label :psychic %>
    <%= f.text_field :psychic %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
