<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>Tokimons:</strong>
  <table>
  <tr>
    <td style= "visibility: hidden"><%= Tokimon.getAllAtID(@trainer).each do |t| %></td>
  <td><%= t.name %></td>
  <td><%= link_to 'Edit', t %></td>
  <td><%= link_to 'Show', t %></td>
<% end %></tr>

</table>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainer.email %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
